/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {


    .admin-categories-trailer-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 15% 0 10% 10%;
    }


    .h1-admin-category-trailer-edit {
        color: blue;
        text-align: center;
        margin-bottom: 5%;
    }

    .admin-category-trailer-form-edit {
        background-color: #99ffff;
        padding-top: 5%;

    }

    .admin-category-trailer-form-edit-group {
        display: flex;
        flex-direction: column;
    }

    .admin-category-trailer-form-edit label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 10%;
    }

    .admin-category-trailer-name-edit {
        width: 60%;
        font-size: 1rem;
        margin: 3% 0 3% 20%;
        border: solid 1px blue;
    }

    .admin-category-trailer-description-edit {
        width: 70%;
        border: solid 1px blue;
        height: 150px;
        margin: 3% 0 3% 20%;
    }

    .admin-category-trailer-image-edit {
        width: 50%;
        padding: 1%;
        height: 200px;
        margin: 3% 0 3% 20%;
        border: solid 1px blue;
    }

    .admin-category-trailer-image-edit-upload {
        padding: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: 40%;
        margin-left: 20%;
        font-size: 1rem;
    }

    .admin-category-trailer-edit-btn {
        text-align: center;
        color: white;
        background-color: green;
        text-decoration: none;
        padding: 10px;
        margin: 5% 0 10% 0%;
        width: 100%;
        font-size: 1rem;
    }

}

/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {

    
    .admin-categories-trailer-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 20% 0 10% 10%;
    }


    .h1-admin-category-trailer-edit {
        color: blue;
        text-align: center;
        margin-bottom: 5%;
    }

    .admin-category-trailer-form-edit {
        background-color: #99ffff;
        padding-top: 5%;

    }

    .admin-category-trailer-form-edit-group {
        display: flex;
        flex-direction: column;
    }

    .admin-category-trailer-form-edit label {
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10%;
    }

    .admin-category-trailer-name-edit {
        width: 60%;
        font-size: 1rem;
        margin: 3% 0 3% 20%;
        border: solid 1px blue;
    }

    .admin-category-trailer-description-edit {
        width: 70%;
        border: solid 1px blue;
        height: 150px;
        margin: 3% 0 3% 20%;
    }

    .admin-category-trailer-image-edit {
        width: 200px;
        padding: 1%;
        height: 200px;
        margin: 3% 0 3% 20%;
        border: solid 1px blue;
    }

    .admin-category-trailer-image-edit-upload {
        padding: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: 40%;
        margin-left: 20%;
        font-size: 1rem;
    }

    .admin-category-trailer-edit-btn {
        text-align: center;
        color: white;
        background-color: green;
        text-decoration: none;
        padding: 10px;
        margin: 5% 0 10% 0%;
        width: 100%;
        font-size: 1rem;
    }
}