/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {


    .admin-categories-trailers-container {
        background-color: #99ffff;
        padding-bottom: 5%;
    }

    .h1-admin-categories-trailers {
        color: black;
        text-align: center;
        margin: 10% auto 3%;
    }

    .admin-categories-trailer-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 0 0 0% 10%;
    }

    
    .admin-categories-trailers-btn-add-container {
        margin: 5% auto 5%;
    }

    .admin-categories-trailers-table {
        background-color: #99ffff;
    }

    .admin-category-trailer-btn-add {
        display: flex;
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 5% 0 10% 10%;
    }

    .admin-categories-trailers-menu {
        border: solid 1px ;
        text-align: center;
        font-size: 1.1rem;
    }

    .admin-category-trailer-unite {
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-name {
        width: 15%;
        font-size: 1.1rem;
    }

    .admin-category-trailer-description {
        width: 30%;
        font-size: 1rem;
    }

    .admin-category-trailer-image-container {
        width: 25%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-image {
        width: 100%;
        padding: 1%;
        height: 250px;
    }

    .admin-categories-trailers-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 25%;
        width: 50%;
        border: none;
    }

    .admin-category-trailer-update-btn {
        text-align: center;
        color: white;
        background-color: green;
        text-decoration: none;
        padding: 10px;
        height: 50px;
    }

    .admin-category-trailer-delete-btn {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
    }
}

/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {


    .admin-categories-trailers-container {
        background-color: #99ffff;
        padding-bottom: 5%;
    }

    .admin-categories-trailer-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 0 0 10% 10%;
    }

    .h1-admin-categories-trailers {
        color: blue;
        text-align: center;
    }
    
    .admin-categories-trailers-btn-add-container {
        margin: 5% auto 5%;
    }

    .admin-categories-trailers-table {
        background-color: #99ffff;
    }

    .admin-category-trailer-btn-add {
        display: flex;
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 5% 0 10% 10%;
    }

    .admin-categories-trailers-menu {
        border: solid 1px ;
        text-align: center;
        font-size: 0.9rem;
    }

    .admin-category-trailer-unite {
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-name {
        width: 15%;
        font-size: 0.9rem;
    }

    .admin-category-trailer-description {
        width: 30%;
        font-size: 0.9rem;
    }

    .admin-category-trailer-image-container {
        width: 25%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-image {
        width: 100%;
        padding: 1%;
        height: 250px;
    }

    .admin-categories-trailers-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 1%;
        width: 100%;
        height: 45px;
        border: none;
        font-size: 0.9rem;
    }

    .admin-category-trailer-update-btn {
        text-align: center;
        color: white;
        background-color: green;
        text-decoration: none;
        padding: 10px;
    }

    .admin-category-trailer-delete-btn {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
    }
}