/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page categories-trucks **********************************/

    .admin-categories-trucks-page {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .h1-admin-categories-trucks {
        color: lightseagreen;
        text-align: center;
        font-size: 2rem;
        margin: 5% 0 5% 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .admin-categories-trucks-btn-add {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        margin-left: 10%;
    }

    .admin-categories-trucks-container {
        display: flex;
        flex-direction: column;
        background-color: powderblue;
        margin-top: 5%;
    }

    .admin-categories-trucks-item {
        display: inline-block;
        width: 100%;
        padding: 0;     
    }

    .admin-categories-trucks-line {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    
    .admin-category-truck-name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        margin: 30px; 
        flex: 1; 
    }
    
    .admin-category-truck-image {
        width: 250px; 
        height: 250px;
        border: 1px solid greenyellow;
        padding : 1%;
        margin : 5% 0% 5% -10%;
    }

    .admin-categories-trucks-buttons {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: space-between;
        margin-bottom: 5%;

        .admin-category-truck-update-btn,
        .admin-category-truck-delete-btn {
            flex: 1;
            display: flex;
            color: white;
            justify-content: center; 
            align-items: center;
            background-color: green;
            text-decoration: none;
            height: 40px;
        }

        .admin-category-truck-delete-btn {
            background-color: red;
        }
    }

}


@media (min-width: 769px) and (max-width: 1024px) {
   
    .admin-categories-trucks-page {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .h1-admin-categories-trucks {
        color: lightseagreen;
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 10%;
        margin-top: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .admin-categories-trucks-btn-add {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .admin-categories-trucks-container {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        background-color: powderblue;
        }

    .admin-categories-trucks-item {
        display: inline-block;
        width: 100%;
        padding: 0;    
    }

    .admin-categories-trucks-line {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    
    .admin-category-truck-name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        margin: 30px; 
        flex: 1; 
    }
    
    .admin-category-truck-image {
        width: 200px; 
        height: 200px;
        border: 1px solid greenyellow;
        padding : 1%;
        margin : 15px;
    }

    .admin-categories-trucks-buttons {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: space-between;
        margin-bottom: 5%;


        .admin-category-truck-update-btn,
        .admin-category-truck-delete-btn {
            flex: 1;
            display: flex;
            color: white;
            justify-content: center; 
            align-items: center;
            background-color: green;
            text-decoration: none;
            height: 40px;
        }

        .admin-category-truck-delete-btn {
            background-color: red;
        }
    }

}