/* tablette portrait */

@media (min-width: 481px) and (max-width: 768px) {


    .h1-dashboard {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-dashboard-list {

        a {
            text-decoration: none;
        }
    }

    .btn-to-login {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        margin: 3% 0 2% 5%;
    }
}

/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {

    .h1-dashboard {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-dashboard-list {

        a {
            text-decoration: none;
        }
    }

    .btn-to-login {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        margin: 3% 0 2% 5%;
    }
}