/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {

    /***************************** page categories-trucks **********************************/


    .admin-categories-trucks-page {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .h1-admin-categories-trucks {
        color: green;
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .admin-categories-trucks-btn-add {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        margin-left: 5%;
        margin-bottom: 15%;
    }

    .admin-categories-trucks-container {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        background-color: aquamarine;
    }

    .admin-categories-trucks-item {
        border: 1px solid lightseagreen;
        display: inline-block;
        width: 100%;
        padding: 0;
    }

    .admin-categories-trucks-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .admin-category-truck-name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        margin: 30px;
        flex: 1;
    }

    .admin-category-truck-image {
        width: 160px;
        height: 160px;
        border: 1px solid greenyellow;
        padding: 1%;
        margin: 15px;
    }

    .admin-categories-trucks-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5%;

        .admin-category-truck-update-btn,
        .admin-category-truck-delete-btn {
            flex: 1;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            background-color: green;
            text-decoration: none;
            height: 40px;
        }

        .admin-category-truck-delete-btn {
            background-color: red;
        }
    }
}



/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {

    .admin-categories-trucks-page {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .h1-admin-categories-trucks {
        color: green;
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: 15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .admin-categories-trucks-btn-add {
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 5px;
        margin-left: 3%;
        margin-bottom: 15%;
    }

    .admin-categories-trucks-container {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        background-color: aquamarine;
    }

    .admin-categories-trucks-item {
        border: 1px solid lightseagreen;
        display: inline-block;
        width: 100%;
        padding: 0;
    }

    .admin-categories-trucks-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .admin-category-truck-name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.9rem;
        margin: 30px;
        flex: 1;
    }

    .admin-category-truck-image {
        width: 140px;
        height: 140px;
        border: 1px solid greenyellow;
        margin-left: 10px;
    }

    .admin-categories-trucks-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5%;

        .admin-category-truck-update-btn,
        .admin-category-truck-delete-btn {
            flex: 1;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            background-color: green;
            text-decoration: none;
            height: 40px;
        }

        .admin-category-truck-delete-btn {
            background-color: red;
        }
    }
}