/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {


    .h1-admin-category-trailer-edit {
        color: blue;
        text-align: center;
        margin-bottom: 3%;
    }

    .admin-category-trailer-form-edit {
        background-color: #99ffff;
        padding-top: 5%;

    }

    .admin-category-trailer-form-edit-group {
        display: flex;
        flex-direction: column;
    }

    .admin-category-trailer-form-edit label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10%;
    }

    .admin-category-trailer-name-edit {
        width: 30%;
        font-size: 1.1rem;
        margin: 3% 0 3% 20%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-description-edit {
        width: 70%;
        border: solid 1px dodgerblue;
        font-size: 1rem;
        height: 150px;
        margin: 3% 0 3% 20%;
    }

    .admin-category-trailer-image-edit {
        width: 350px;
        padding: 1%;
        height: 250px;
        margin: 3% 0 3% 20%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-image-edit-upload {
        padding: 10px;
        border: 1px solid dodgerblue;
        border-radius: 5px;
        width: 25%;
        margin-left: 20%;
        font-size: 1.1rem;
    }

    .admin-category-trailer-edit-btn {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        margin: 5% 0 10% 0%;
        width: 100%;
        font-size: 1.1rem;
    }

}

/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {

    .h1-admin-category-trailer-edit {
        color: blue;
        text-align: center;
        margin-bottom: 5%;
    }

    .admin-category-trailer-form-edit {
        background-color: #99ffff;
        padding-top: 5%;

    }

    .admin-category-trailer-form-edit-group {
        display: flex;
        flex-direction: column;
    }

    .admin-category-trailer-form-edit label {
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10%;
    }

    .admin-category-trailer-name-edit {
        width: 60%;
        font-size: 1rem;
        margin: 3% 0 3% 20%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-description-edit {
        width: 70%;
        border: solid 1px dodgerblue;
        font-size: 1rem;
        height: 150px;
        margin: 3% 0 3% 20%;
    }

    .admin-category-trailer-image-edit {
        width: 200px;
        padding: 1%;
        height: 200px;
        margin: 3% 0 3% 20%;
        border: solid 1px dodgerblue;
    }

    .admin-category-trailer-image-edit-upload {
        padding: 10px;
        border: 1px solid dodgerblue;
        border-radius: 5px;
        width: 40%;
        margin-left: 20%;
        font-size: 1rem;
    }

    .admin-category-trailer-edit-btn {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
        margin: 5% 0 10% 0%;
        width: 100%;
        font-size: 1rem;
    }
}