/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page categories-trailers **********************************/

    .container-categories-trailers {
        width: 100%;
    }

  

    .categories-trailers-list {
        margin-top: 20px;
    }


    .category-trailer-image-box {
        width: 50%;

    }
    .category-trailer-image {
        width: 90%;
        padding: 1%;
        height: 350px;


    }
}
@media (min-width: 769px) and (max-width: 1024px)  {


    .container-categories-trailers {
        width: 100%;
    }

    .button-group {
        visibility: hidden;
    }

    .categories-trailers-list {
        margin-top: 20px;
    }

    .category-trailer-image-box {
        width: 50%;

    }
    .category-trailer-image {
        width: 90%;
        padding: 1%;
        height: 350px;
    }

    .categories-trailers-description-box {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        padding-top: 5%;
        width: 50%;
    }

    .categories-trailers-name {
        font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
        font-size: 35px;
    }

    .categories-trailers-description {
        padding: 3px;
    }
}




