/***************** version desktop *******************/

@media (min-width: 1025px) {


    .h1-dashboard {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-dashboard-list {

        a {
            text-decoration: none;
        }
    }

    .btn-to-login {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        margin: 3% 0 2% 5%;
    }
}

/* tablette lanscape */


@media (min-width: 769px) and (max-width: 1024px) {

    .h1-dashboard {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-dashboard-list {

        a {
            text-decoration: none;
        }
    }

    .btn-to-login {
        text-align: center;
        color: white;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        margin: 3% 0 2% 5%;
    }

}