/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {

    /***************************** page trucks **********************************/
    
    .admin-truck-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 3% 0 5% 5%;
    }

    .h1-admin-trucks {
        color: lightseagreen;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-truck-btn-add-container {
        margin: 5% 5% 10%;
    }

    .admin-truck-btn-add {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
    }

    .table-admin-truck {
        display: none;
    }

    .admin-truck-unit {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 1rem;
        padding: 1rem;
        background-color: powderblue;
    }

    .admin-truck-top-line {
        display: flex;
        gap: 1rem;
    }

    .admin-truck-image-container-mobile {
        flex: 0 0 150px;
    }

    .admin-truck-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .admin-truck-fields>div {
        width: 100%;

        .admin-truck-menu-description {
            width: 100%;
            margin-top: 0.5rem;
            font-style: italic;
        }
    }

    .admin-trucks-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;

        .admin-truck-update-btn,
        .admin-truck-delete-btn {
            text-align: center;
            color: white;
            background-color: green;
            text-decoration: none;
            padding: 10px;
            height: 50px;
            width: 100px;
            border-radius: 10%;
        }

        .admin-truck-delete-btn {
            background-color: red;
        }
    }
}



/********************************** version mobile ********************/

@media only screen and (max-width: 480px) {

    .admin-truck-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 3% 0 10% 5%;
    }
    
    .h1-admin-trucks {
        color: lightseagreen;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .admin-truck-btn-add-container {
        margin: 5% 5% 10%;
    }

    .admin-truck-btn-add {
        text-align: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        padding: 10px;
    }

    .table-admin-truck {
        display: none;
    }

    .admin-truck-unit {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 1rem;
        padding: 1rem;
        background-color: powderblue;
    }

    .admin-truck-top-line {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .admin-truck-image-container-mobile {
        flex: 0 0 150px;

        .admin-truck-image {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    .admin-truck-fields>div {
        width: 100%;

        .admin-truck-menu-description {
            width: 100%;
            margin-top: 0.5rem;
            font-style: italic;
        }
    }

    .admin-trucks-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;

        .admin-truck-update-btn,
        .admin-truck-delete-btn {
            text-align: center;
            color: white;
            background-color: green;
            text-decoration: none;
            padding: 10px;
            height: 50px;
            width: 100px;
            border-radius: 10%;
        }

        .admin-truck-delete-btn {
            background-color: red;
        }
    }


}