

/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .footer {
        background-color: lightseagreen;
        padding-bottom: 10%;

    }

    .footer-block {
        display: flex;
        flex-direction: column;
    }

    .logo-footer-block {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .brand-footer p {
        font-weight: bold;
        font-size: 1.8rem;
        margin-top: 10%;
    }

    .adress-footer-title,
    .company-footer-title,
    .services-footer-title {
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .adress-footer,
    .company-footer,
    .services-footer {
        text-align: center;
        font-size: 1rem;
        line-height: 10px;
        padding-top: 0;
    }

    /* Copyrigth + legal */

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom p {
        margin: 0;
    }
}



/* version mobile */

@media (max-width: 480px) {

    .footer {
        padding-bottom: 10%;
        background-color: lightseagreen;

    }

    .footer-block {
        display: flex;
        flex-direction: column;
    }

    .logo-footer-block {
        display: block;
        margin: 0 auto;

    }

    .brand-footer p {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        margin-top: 10%;

    }

    .adress-footer-title,
    .company-footer-title,
    .services-footer-title {
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .adress-footer,
    .company-footer,
    .services-footer {
        text-align: center;
        font-size: 1rem;
        line-height: 10px;
        padding-top: 0;
    }

    /* copyright + legal*/

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom p {
        margin: 0;
    }
}