/********************************** version great mobile ********************/


@media (min-width: 481px) and (max-width: 768px) {

    /* Vidéo of the header */
    .banner-video {
        display: none;
    }

    .top-banner {
        display: none;
    }

    .mobile-header {
        position: relative;
        width: 100%;
        background: lightseagreen;
        color: white;
        padding: 1rem;
        height: 150px;


        .header-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .header-top-content {
            display: flex;
            flex-direction: row;
            max-width: 768px;
            margin: 0 auto;
            align-items: center;
            gap: 30px;
            /* Espace between logo, h1 and p */
            white-space: nowrap;
            /* no return to line */
            overflow: hidden;
            /* space between <h1> and <p> */
        }

        h1 {
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            white-space: nowrap;
            /* button ☰ X */
        }

        .menu-toggle {
            background: none;
            border: solid 1px black;
            color: black !important;
            font-size: 2rem;
            cursor: pointer;
            border-radius: 8px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* menu with items */

        .mobile-nav {
            position: absolute;
            top: 150px;
            /* height of the header */
            left: -100%;
            width: 100%;
            max-width: 100%;
            /* when the menu is open */
            background: darkgreen;
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: left 0.3s ease-in-out;
            z-index: 1000;

            .nav-link {
                color: white;
                text-decoration: none;
                padding: 1rem;
                border-bottom: 1px solid #444;
            }
        }

        .mobile-nav.open {
            left: 0;
        }
    }

}


/********************************** version mobile ********************/

@media (max-width: 480px) {

    .banner-video {
        display: none;
    }

    /* menu burger in place of */

    .top-banner {
        display: none;
    }


    /* menu burger */
    .mobile-header {
        position: relative;
        width: 100%;
        background: lightseagreen;
        color: white;
        padding: 1rem;
        height: 150px;

        .header-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }

        .header-top-content {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        h1 {
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        /* button ☰ X */

        .menu-toggle {
            background: none;
            border: solid 1px black;
            color: black !important;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 8px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1001;
        }

        /* menu with items */
        .mobile-nav {
            position: absolute;
            top: 150px;
            left: -100%;
            width: 100vw; 
            background: darkgreen;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: left 0.3s ease-in-out;
            z-index: 1100;
        }

        .nav-link {
            color: white;
            text-decoration: none;
            padding: 1rem;
            border-bottom: 1px solid #444;
        }
    }

    .mobile-nav.open {
        left: 0;
    }
}