

/**********************************  tablette portrait ********************/


@media (min-width: 481px) and (max-width: 768px) {

    /* Vidéo of the header */
    .banner-video {
        display: none;
    }

    .top-banner {
        display: none;
    }

    .header-top-mobile {
        position: relative;
        width: 100%;
        color: white;
        background-size: cover;
        background-position: center;

        .header-top-banner {
            display: flex;
            align-items: center;
            justify-content: space-between; /* between logo and phone */
            background-color: lightseagreen;
            padding: 25px 20px; 
            height: 100px; 
        
            .phone-number {
                position: relative; 
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.1rem;
            }
        }

        .header-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            height: 200px;
        }


        /* button ☰ X */

        .menu-toggle {
            background: none;
            border: solid 1px green;
            color: blue !important;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 8px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1001;
            margin-bottom: 130px;
            margin-left: 3%;
        }

        /* menu with items */
        .mobile-nav {
            position: absolute;
            left: -100%;
            width: 100vw;
            background: darkgreen;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: left 0.3s ease-in-out;
            z-index: 1100;
        }

        .nav-link {
            color: white;
            text-decoration: none;
            padding: 1rem;
            border-bottom: 1px solid #444;
        }
    }

    .mobile-nav.open {
        left: 0;
    }
}


/********************************** version mobile ********************/

@media (max-width: 480px) {

    .banner-video {
        display: none;
    }

    /* menu burger in place of */

    .top-banner {
        display: none;
    }


    /* menu burger */


    .header-top-mobile {
        position: relative;
        width: 100%;
        color: white;
        background-size: cover;
        background-position: center;

        .header-top-banner {
            display: flex;
            align-items: center;
            justify-content: space-between; /* between logo and phone */
            background-color: lightseagreen;
            padding: 25px 20px; 
            height: 120px; 
        
            .phone-number {
                position: relative; 
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.1rem;
            }
        }

        .header-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            height: 200px;
        }


        /* button ☰ X */

        .menu-toggle {
            background: none;
            border: solid 1px green;
            color: blue !important;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 8px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1001;
            margin-bottom: 130px;
            margin-left: 3%;
        }

        /* menu with items */
        .mobile-nav {
            position: absolute;
            left: -100%;
            width: 100vw;
            background: darkgreen;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: left 0.3s ease-in-out;
            z-index: 1100;
        }

        .nav-link {
            color: white;
            text-decoration: none;
            padding: 1rem;
            border-bottom: 1px solid #444;
        }
    }

    .mobile-nav.open {
        left: 0;
    }  

}