/* version tablette orientation portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .h1-home {
        color: blue;
        padding: 2%;
        font-size: 1.4rem;
        text-align: center;
    }

    .pub-container {
        width: 100%;
        overflow: hidden;
        background-color: #d3edea;
        color: #004aad;
        padding: 10px 0;
        white-space: nowrap;
        position: relative;
    }

    .pub {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        animation: marqueeScroll 10s linear infinite;
    }

    @keyframes marqueeScroll {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .edito {
        text-align: justify;
        padding: 5%;

        span {
            display: inline-block;
            font-style: italic;
            font-size: 1.3rem;
            margin-bottom: 2%;
        }
    }
}




/********************************** version mobile ********************/

@media (max-width: 480px) {

    .h1-home {
        color: blue;
        margin: 5% 5% 5% 5%;
        font-size: 1.4rem;
        text-align: center;
    }

    .pub-container-mobile {
        display: none;
    }

    .edito {
        text-align: justify;
        padding: 5%;

        span {
            display: inline-block;
            font-style: italic;
            font-size: 1.3rem;
            margin-bottom: 2%;
        }
    }
}