
/**************  map of the home page **********************************/

/* desktop */

@media (min-width: 1025px) {

    .icon-map {
        position: relative;
        flex: 1 1;

        img {
            margin: 0 0 3% 15%;
            cursor: pointer;
            width: 50%;
        }

        span {
            display: flex;
            margin : 0 0 10% 30%;
            color: black;
            font-size: 1.5rem;
        }
    }
}

/* tablette orientation landscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .icon-map {
        position: relative;
        flex: 1 1;

        img {
            margin: 10% 0 3% 15%;
            cursor: pointer;
            width: 75%;
        }

        span {
            display: flex;
            margin : 0 0 10% 30%;
            color: black;
            font-size: 1.5rem;
        }
    }
}



