/* tablette orientation landscape */

@media (min-width: 481px) and (max-width: 768px) {

    .icon-map {
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        img {
            display: flex;
            margin-bottom: 5%;
            cursor: pointer;
            width: 45%;
            margin-left : 25%;
            
        }

        span {
            display: flex;
            margin-left : 40%;
            color: black;
            font-size: 1.5rem;
        }
    }

}



/********************************** version mobile ********************/

@media (max-width: 480px) {

    .icon-map {
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        img {
            display: flex;
            margin-top: 5%;
            margin-bottom: 5%;
            cursor: pointer;
            width: 50%;
            margin-left : 25%;
        }

        span {
            display: flex;
            margin-left : 35%;
            color: black;
            font-size: 1.5rem;
        }
    }

}