
/**************  map of the home page **********************************/

/* desktop */

@media (min-width: 1025px) {

    .icon-promo {
        position: relative;
        flex: 1 1;

        img {
            width: 60%;
        }
    }
}

/* tablette landscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .icon-promo {
        position: relative;
        flex: 1 1;

        img {
            margin-top: 5%;
            width: 95%;
        }
    }
}



