/* version tablette orientation portrait */
@media (min-width: 481px) and (max-width: 768px) {

    .icon-promo {
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        img {
            display: flex;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 50%;
            margin-left: 25%;

        }
    }
}



/********************************** version mobile ********************/

@media (max-width: 480px) {

    .icon-promo {
        display: flex;
        flex-direction: column;
        margin : 10% 0 10% 25%;

        img {
            display: flex;
            width: 50%;
        }
    }

}