//***************** version desktop *******************/
@media (min-width: 1025px) {

    .home-pictures-card {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-left: 10%;
    }

    .home-pictures {
        position: relative;
        flex: 1;

    }

    .category-trailer-home-image,
    .category-truck-home-image {
        width: 75%;
        height: 70%;
    }

    /******** legend **********/

    .image-caption {
        width: 75%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;
        }
    }
}


/**************   tablette landscape *****************/

@media (min-width: 769px) and (max-width: 1024px)  {

 
    .home-pictures-card {
        display: flex;
        flex-direction: row;
        margin: 0 2% 7% 0;
    }

    .home-pictures {
        position: relative;
        margin-left: 5%;
        flex: 1;

    }

    .category-trailer-home-image,
    .category-truck-home-image {
        width: 100%;
        height: 70%;
    }

        /******** legend **********/

    .image-caption {
        background-color: lightseagreen;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        
        a {
            text-decoration: none;
            color: white;
        }
    }
}