
/* version tablette orientation portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .home-pictures-card {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .home-pictures {
        position: relative;
        margin-left: 15%;

    }

    .category-trailer-home-image,
    .category-truck-home-image {
        width: 75%;
        height: 70%;
    }


    /******** legend **********/

    .image-caption {
        width: 75%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;
        }
    }
}


/********************************** version mobile ********************/

@media (max-width: 480px) {

    .home-pictures-card {
        display: flex;
        flex-direction: column;
        margin: 5% 0 10% 0;
    }

    .home-pictures {
        position: relative;
        margin: 6% 5% 5% 5%;
        padding-left: 15%;

    }

    .category-trailer-home-image,
    .category-truck-home-image {
        width: 75%;
        height: 70%;
    }


    /******** legend **********/

    .image-caption {
        width: 75%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
