/* version tablette orientation portrait */

@media (min-width: 481px) and (max-width: 768px) {

    .h1Legal {
        color: blue;
        text-align: center;   
        margin-top: 10%;
    }


    .blocLegal {
        margin: 10% 0 5% 15%;
        width: 75%;

        .h2Legal {
            margin-top: 30px;
        }
        
        .articleLegal {
            margin-top: 3%;
            font-weight: bold;   
        }
    }
}


/* version mobile */

@media (max-width: 480px) {
    .h1Legal {
        color: blue;
        text-align: center;   
        margin-top: 10%;
    }

    .blocLegal {
        margin: 10% 0 5% 15%;
        width: 75%;

        .h2Legal {
            margin-top: 30px;
        }
        
        .articleLegal {
            margin-top: 3%;
            font-weight: bold;   
        }
    }
}