/************************ version desktop ****************************/

@media (min-width: 1025px) {

    .logo-container-header {
        position: absolute;
        z-index: 20;
        /* above the top-banner and to be clickable */
    }

    .logo-header {
        width: 150px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .logo-footer {
        width: 150px;
    }

}


/**************************** version tablette orientation landscape **********************/

@media (min-width: 769px) and (max-width: 1024px)  {

    .logo-container-header {
        position: absolute;
        z-index: 20;
        /* above the top-banner and to be clickable */

        .logo-header {
            width: 150px;
            margin-left: 50px;
            margin-top: 30px;
        }
    }

    .logo-footer {
        width: 150px;
    }


}


/************************ version tablette orientation portrait ****************************/


@media (min-width: 481px) and (max-width: 768px) {

    .logo-header {
        width: 100px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .logo-footer {
        width: 140px;
        margin: 0 auto;
    }
}


/**************************** mobile ************************/

@media (max-width: 480px) {


    /* header */

    .logo-container-header {
        position: relative;
        top: 10px;
        left: 2px;
        z-index: 1000;

        .logo-header {
            width: 90px;
            margin-left: 100%;
            margin-top: 15%;
        }
    }

    /* footer */

    .logo-container-footer {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-footer {
        width: 140px;
        margin: 0 auto;
    }





}