.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.logo {
    width: 150px;
}

.logoFooter {
    width: 150px; 
    margin-top: 100px;
    margin-left: 100px;
}

.logoFooterMobile {
    margin-top: 130px;
}
