/***************** version desktop *******************/

@media (min-width: 1025px) {

    .form-container-register {
        max-width: 600px; 
        margin: 0 0 10% 30%;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .form-group-register {
        display: flex;
        align-items: center; 
        margin-bottom: 15px;
    }
    
    .label-register {
        width: 120px; 
        font-weight: bold;
        text-align: left;
    }
    
    .input-register {
        flex: 1; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .button-register {
        width: 100%;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5%;
    }
    
    .button-register:hover {
        background-color: #0056b3;
    }
}

    

/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {
    .h1-register {
        color: blue;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
    }

    .form-container-register {
        max-width: 350px;
        margin: 0 0 10% 30%;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .form-group-register {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    
    .label-register {
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .input-register {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }
    
    .button-register {
        width: 100%;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5%;

    }
    
    button:hover {
        background-color: #0056b3;
    }

}
