/***************** version desktop *******************/

@media (min-width: 1025px) {

    .h1-edit-user {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
    }

    .form-edit-user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    .form-group-edit-user {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .group-edit-user-siren-mobile {
        /* only for mobile */
        display: none;
    }

    .label-edit-user-no-mobile {
        font-weight: bold;
        width: 120px;
        text-align: right;
        margin-right: 10px;
    }

    input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

    .user-manage-buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 10%;
    }

    .update-button-user {
        margin-top: 5%;
        padding: 10px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .delete-button-user {
        margin-top: 5%;
        margin-left: 5%;
        padding: 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

}



/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .h1-edit-user {
        color: black;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
    }

    .form-edit-user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    .form-group-edit-user {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .group-edit-user-siren-mobile {
        /* only for mobile */
        display: none;
    }

    .label-edit-user-no-mobile {
        font-weight: bold;
        width: 120px;
        text-align: right;
        margin-right: 10px;
    }

    input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

    .user-manage-buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 10%;
    }

    .update-button-user {
        margin-top: 5%;
        padding: 10px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .delete-button-user {
        margin-top: 5%;
        margin-left: 5%;
        padding: 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
}