/* version tablette orientation portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .h1-cart {
        color: blue;
        margin: 10% 0 10%;
        text-align: center;
    }

    .cart {
        margin: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .back-message {
        font-size: 1rem;
        color: red;
        margin: 10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        margin: 2% 0 5% 40%;
    }

    .h2-resa-trucks {
        margin: 5% 0 3%;
        border: solid 1px green;
        background-color: powderblue;
        width: max-content;
        padding: 10px;
    }

    .resa-trucks-delete-button,
    .resa-trailers-delete-button {
        margin: 1% 0 1%;
        background-color: red;
        color: white;
        padding: 10px;
    }


    .h2-resa-trailers {
        margin: 10% 0 3%;
        border: solid 1px blue;
        background-color: dodgerblue;
        width: max-content;
        padding: 10px;
    }

    
    .cart-buttons {
        display: flex;
        flex-direction: column;
        margin: 15% auto 15%;
        font-size: 1.1rem;
    }

    .cart-to-payment-button {
        background-color: green;
        padding: 3%;
        text-align: center;
    }

    .cart-to-payment-button-btn {
        color: white;
        text-decoration: none;
    }

    .cart-continue-button {
        background-color: blue;
        color: white;
        padding: 10px;
    }

    .clear-cart-button {
        background-color: red;
        color: white;
        padding: 10px;
    }
}





/********************************** version mobile ********************/

@media (max-width: 480px) {

    .h1-cart {
        color: blue;
        margin: 10% 0 10%;
        text-align: center;
    }

    .back-message {
        font-size: 1rem;
        color: red;
        margin-top: 10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 2% 0 5% 25%;
    }

    .h2-resa-trucks {
        margin: 5% 0 3%;
        border: solid 1px green;
        background-color: powderblue;
        width: max-content;
        padding: 10px;
    }

    .resa-trucks-delete-button,
    .resa-trailers-delete-button {
        margin: 1% 0 1%;
        background-color: red;
        color: white;
        padding: 10px;
    }


    .h2-resa-trailers {
        margin: 10% 0 3%;
        border: solid 1px blue;
        background-color: dodgerblue;
        width: max-content;
        padding: 10px;
    }
    
    .cart-buttons {
        display: flex;
        flex-direction: column;
        margin: 15% auto 15%;
        font-size: 1.1rem;
    }

    .cart-to-payment-button {
        background-color: green;
        padding: 3%;
        text-align: center;
    }

    .cart-to-payment-button-btn {
        color: white;
        text-decoration: none;
    }

    .cart-continue-button {
        background-color: blue;
        color: white;
        padding: 10px;
    }

    .clear-cart-button {
        background-color: red;
        color: white;
        padding: 10px;
    }
}