/***************************** page cart **********************************/

/***************** version desktop *******************/

@media (min-width: 1025px) {

    .cart {
        margin: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .back-message {       
        font-size: 1rem; 
        color: red;
        margin-top:10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white; 
        padding: 10px 20px; 
        border-radius: 5px; 
        font-size: 16px; 
        margin:2% 0 5% 40%;
    }
 


}




/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .back-message {       
        font-size: 1rem; 
        color: red;
        margin-top:10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white; 
        padding: 10px 20px; 
        border-radius: 5px; 
        font-size: 16px; 
        margin:2% 0 5% 40%;
    }
 

}