/***************************** page cart **********************************/

/***************** version desktop *******************/

@media (min-width: 1025px) {

    .h1-cart {
        color: blue;
        margin: 5% 0 7%;
        text-align: center;
    }

    .cart {
        margin-left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .back-message {
        font-size: 1rem;
        color: red;
        margin-top: 10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        margin: 2% 0 5% 40%;
    }

    .h2-resa-trucks {
        margin: 5% 0 3%;
        border: solid 1px green;
        background-color: powderblue;
        width: max-content;
        padding: 10px;
    }

    .resa-trucks-delete-button,
    .resa-trailers-delete-button {
        margin: 1% 0 1%;
        background-color: red;
        color: white;
        padding: 10px;
    }


    .h2-resa-trailers {
        margin: 5% 0 3%;
        border: solid 1px blue;
        background-color: dodgerblue;
        width: max-content;
        padding: 10px;
    }

    .cart-buttons {
        display: flex;
        flex-direction: row;
        margin: 10% 0 10% 10%;
        font-size: 1.2rem;
    }

    .cart-to-payment-button {
        background-color: green;
        padding: 3%;
        width: 25%;
        text-align: center;
    }

    .cart-to-payment-button-btn {
        color: white;
        text-decoration: none;
    }

    .cart-continue-button {
        background-color: blue;
        color: white;
        padding: 10px;
        margin-left: 5%;
        width: 25%;
    }

    .clear-cart-button {
        background-color: red;
        color: white;
        padding: 10px;
        margin-left: 5%;
        width: 25%;
    }

}



/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .h1-cart {
        color: blue;
        margin: 5% 0 7%;
        text-align: center;
    }

    .cart {
        margin-left : 10%
    }

    .back-message {
        font-size: 1rem;
        color: red;
        margin-top: 10%;
        text-align: center;
    }

    .back-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        margin: 2% 0 5% 40%;
    }

    .h2-resa-trucks {
        margin: 5% 0 3%;
        border: solid 1px green;
        background-color: powderblue;
        width: max-content;
        padding: 10px;
    }

    .resa-trucks-delete-button,
    .resa-trailers-delete-button {
        margin: 1% 0 1%;
        background-color: red;
        color: white;
        padding: 10px;
    }


    .h2-resa-trailers {
        margin: 5% 0 3%;
        border: solid 1px blue;
        background-color: dodgerblue;
        width: max-content;
        padding: 10px;
    }

    .cart-buttons {
        display: flex;
        flex-direction: row;
        margin: 10% 0 10% 10%;
        font-size: 1.1rem;
    }

    .cart-to-payment-button {
        background-color: green;
        padding: 3%;
        width: 25%;
        text-align: center;
    }

    .cart-to-payment-button-btn {
        color: white;
        text-decoration: none;
    }

    .cart-continue-button {
        background-color: blue;
        color: white;
        padding: 10px;
        margin-left: 5%;
        width: 25%;
    }

    .clear-cart-button {
        background-color: red;
        color: white;
        padding: 10px;
        margin-left: 5%;
        width: 25%;
    }


}