/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page categories-trailers **********************************/

    .container-categories-trailers {
        width: 100%;
    }

    .button-group {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f0f0f0;
        color: #000;
        cursor: pointer;
    }

    .categories-trailers-list {
        margin-top: 20px;
    }

    .categories-trailers-item {
        display: flex;
        flex-direction: row;
        border: 1px solid red;
        margin-bottom: 5%;
    }

    .CategoryTrailer-image {
        width: 50%;
    }

    .categories-trailers-description {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        padding-top: 5%;
    }

    .categories-trailers-name {
        font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
        font-size: 35px;
    }





}