/***************** version desktop *******************/

/***************** version desktop *******************/

@media (min-width: 1025px) {

    .h1-contact {
        color: lightseagreen;
        padding:  5%;
        font-size: 1.6rem;
        text-align: center;
      }


    .form-container-contact {
        max-width: 600px; 
        margin: 0 0 10% 30%;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .form-group-contact {
        display: flex;
        align-items: center; 
        margin-bottom: 15px;
    }
    
    .label-contact {
        width: 120px; 
        font-weight: bold;
        text-align: left;
    }
    
       
    .textarea-contact {
        width: 100%;
        margin-bottom: 5%;
    }

    .input-contact {
        flex: 1; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .button-contact {
        width: 100%;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5%;
    }
    
    .button-contact:hover {
        background-color: #0056b3;
    }
}

    

/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .h1-contact {
        color: lightseagreen;
        padding: 2%;
        font-size: 2rem;
        text-align: center;
        margin-top: 5%;
    }

    .form-container-contact {
        max-width: 350px;
        margin: 0 0 10% 30%;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .form-group-contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    
    .label-contact {
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .textarea-contact {
        width: 100%;
        margin-bottom: 5%;
    }

    .input-contact {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }
    
    .button-contact {
        width: 100%;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5%;

    }
    
    button:hover {
        background-color: #0056b3;
    }

}
