/* version tablette orientation portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .h1-home {
        color: green;
        padding: 2%;
        font-size: 2rem;
        text-align: center;

        .subtitle {
            color:darkturquoise;
            margin-left: 2%;
        }
    }

    .pub-container {
        width: 100%;
        overflow: hidden;
        background-color: #d3edea;
        color: #004aad;
        padding: 10px 0;
        white-space: nowrap;
        position: relative;
    }

    .pub {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        animation: marqueeScroll 10s linear infinite;
    }

    @keyframes marqueeScroll {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .edito {
        text-align: justify;
        padding: 10%;
    }
}




/********************************** version mobile ********************/

@media (max-width: 480px) {

    .h1-home {
        color: green;
        padding: 2%;
        margin:10% auto 10%; 
        font-size: 1.5rem;
        text-align: center;

        .subtitle {
            color:darkturquoise;
            margin-left: 2%;
        }
    }

    .pub-container-mobile {
        display: none;
    }

    .edito {
        text-align: justify;
        padding: 5%;
    }
}