/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page home **********************************/

    .h1-home {
        color: blue;
        padding: 2%;
        font-size: 1.4rem;
        text-align: center;
    }

    /* scrolling message  */

    .pub-container {
        width: 100%;
        overflow: hidden;
        background-color: #d3edea;
        color: #004aad;
        padding: 10px 0;
        white-space: nowrap;
        position: relative;
    }

    .pub {
        font-size: 20px;
        font-weight: bold;
        animation: marqueeScroll 10s linear infinite;
    }

    @keyframes marqueeScroll {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    /* presentation text on the home page */

    .edito {
        text-align: justify;
        padding: 5%;
        width: 80%;
        margin-left: 10%;
    }

    .icons-home {
        display: flex;
        flex-direction: row;
        margin-bottom: 15%;
    }
}

/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .h1-home {
        color: blue;
        padding: 2%;
        font-size: 1.4rem;
        text-align: center;
    }
    
    /* scrolling message  */

    .pub-container {
        width: 100%;
        overflow: hidden;
        background-color: #d3edea;
        color: #004aad;
        padding: 10px 0;
        white-space: nowrap;
        position: relative;
    }

    .pub {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        animation: marqueeScroll 10s linear infinite;
    }

    @keyframes marqueeScroll {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .edito {
        text-align: justify;
        padding: 5%;     
        width: 80%;
        margin-left: 10%;
    }

    .icons-home {
        display: flex;
        flex-direction: row;
        margin-bottom: 15%;
    }

}