
/* tablette portrait */


@media (min-width: 481px) and (max-width: 768px) {

    .h1-login {
        color:lightseagreen;
        padding: 5%;
        font-size: 2rem;
        text-align: center;
        margin-top : 10%;
    }

    .question-login {
        margin: 3% 0 5% 15%;
        font-size: 1.1rem;
    }

    .register-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;    
    }
}


/********************************** version mobile ********************/

@media (max-width: 480px) {

    .h1-login {
        color:lightseagreen;
        padding: 5%;
        font-size: 1.6rem;
        text-align: center;
        margin-top : 10%;
    }

    .question-login {
        margin: 5% 0 10% 10%;
        font-size: 1rem;
    }

    .register-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;    
    }
}