/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page trucks-detail **********************************/

    .truck-btn-return-to-category-truck {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 3% 0 0% 10%;
    }

    .h1-truck-detail {
        text-align: center;
        font-size: 3rem;
        margin-top: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
    }

    .truck-detail-page {
        display: flex;
        flex-direction: row;
    }


    .truck-detail {
        /* truck detail block */
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 5%;
    }

    .edito-truck {
        margin: 5% auto;

    }

    .truck-image-box {
        width: 50%;
        display: flex;
    }

    .truck-image {
        width: 500px;
        padding: 1%;
        border-radius: 50px;
    }

    .truck-detail-block {
        display: flex;
        flex-direction: row;
        margin: 5%;
    }

    .h2-truck-detail {
        margin-bottom: 10%;
        font-weight: 700;
    }

    .truck-detail-features {
        display: flex;
        flex-direction: column;
        margin-left: 10%;

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.3rem;
            width: max-content;
        }
    }

    .truck-detail-location {
        display: flex;
        flex-direction: column;
        margin-left: 10%;

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.3rem;
            width: max-content;
        }
    }

    .truck-detail-button-to-reservation {
        margin: 65% 0 0 10%;
    }

    .truck-detail-button-to-reservation-btn {
        background-color: green;
        text-align: center;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        width: 100%;
        margin: 30% 0 15%;

        a {
            text-decoration: none;
            color: white;
        }
    }


    /* calendar */


    .date-picker-truck {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        border: solid 1px blue;

    }


    .date-picker-start-truck {
        display: flex;
        flex-direction: row;
        border: solid 1px green;

    }

    .date-picker-start-legend-truck,
    .date-picker-end-legend-truck {
        display: flex;
        margin-right: 25px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 140px;
    }

    .custom-date-picker-start-truck,
    .custom-date-picker-end-truck {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }

    .date-picker-end-truck {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }

    .selected-dates {
        margin: 3%;
        border: solid 1px red;
    }

}


/* tablette lanscape */


@media (min-width: 769px) and (max-width: 1024px) {

    .truck-btn-return-to-category-truck {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 10% auto 10%;
    }

    .h1-truck-detail {
        text-align: center;
        font-size: 40px;
        margin: 5%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .truck-detail-page {
        display: flex;
        flex-direction: column;
    }

    .edito-truck {
        padding: 20px;
        margin-bottom: 2%;
    }

    .edito-truck p {
        text-align: justify;
    }

    .h2-truck-detail {
        font-size: 1.7rem;
        font-weight: 700;
        margin: 7% 0 5% 5%;
    }

    .truck-image-box {
        height: 0%;
    }

    .truck-image {
        display: flex;
        width: 80%;
        padding: 1%;
        margin: 0 auto;
        border: solid 30px powderblue;
    }

    .truck-detail-block {
        padding: 2px;
    }

    .truck-detail-features p,
    .truck-detail-location p {
        font-size: 1.3rem;
        margin-left: 5%;
    }


    /* calendar */


    .vehicle-picker-truck {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }

    .date-picker-truck {
        display: flex;
        flex-direction: column;
        margin: 5% 0 0 5%;
    }


    .date-picker-start-truck {
        display: flex;
        flex-direction: row;
    }

    .date-picker-start-legend-truck,
    .date-picker-end-legend-truck {
        display: flex;
        margin: 10px 0 15px 15px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 25%;
    }

    .custom-date-picker-start-truck,
    .custom-date-picker-end-truck {
        display: flex;
        flex-direction: column;
    }

    .date-picker-end-truck {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    .selected-dates {
        padding: 5%;
        font-size: 1.5rem;
    }

    /* button*/

    .truck-detail-button-to-reservation-btn {
        background-color: green;
        text-align: center;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        width: 100%;
        margin: 5% 0 15%;
    }
}