/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page trucks by categories **********************************/

    .truck-by-category-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 3% 0 0% 10%;
    }

    .h1-truck-by-category-name {
        text-align: center;
        font-size: 2rem;
        margin-top: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .truck-by-category-list {
        display: flex;
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        gap: 5px;
        width: 90%;
        max-width: max-content;
        margin: 5% auto;
        padding: 10px;
        align-items: stretch;
        background-color: powderblue;

    }

    .truck-by-category-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 30%;
        /* 30% with to get 3 */
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .single-truck {
        /* to avoid deformation on firefox where we have not 3 truck on line if we have only one */
        flex: 1 1 100%;
        max-width: 100%;
        height: 700px;
        object-fit: cover;
        /* to respect dimensions of the conteneur*/
        display: block;
    }

    .truck-by-category-name {
        font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        height: 10%;
    }


    .truck-by-category-image-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truck-by-category-image {
        width: 300px;
        height: 240px;
        object-fit: cover;
        /* to respect dimensions of the conteneur*/
        display: block;
    }

    .truck-by-category-image-specialized {
        width: 100%;
        height: 700px;
        object-fit: cover;
        /* to respect dimensions of the conteneur*/
        display: block;
    }

    .truck-by-category-button-to-trucks {
        width: 100%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: auto;

        a {
            text-decoration: none;
            color: white;
        }
    }
}


/* tablette lanscape */

@media (min-width: 769px) and (max-width: 1024px) {

    .truck-by-category-btn-return {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 3% 0 0% 10%;
    }
    
    .h1-truck-by-category-name {
        text-align: center;
        font-size: 1.5rem;
        margin: 5% auto 5%;
        padding : 5%;
        color : green;
        background-color: powderblue;
        text-transform: uppercase;
        font-weight: 700;
    }

    .truck-by-category-list {
        margin-top: 20px;
    }

    .truck-by-category-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        width: 100%;
        background-color: white;
    }

    .truck-by-category-name {
        display: flex;
        width: 25%;

        p {
            text-align: center;
            font-size: 1.5rem;
            margin: 50% auto;
            font-weight: bold;
        }
    }

    .truck-by-category-image-box {
        display: flex;
        width: 50%;
    }

    .truck-by-category-image {
        width: 85%;
        padding: 1%;
    }

    .truck-by-category-content {
        width: 30%;
    }

    .truck-by-category-button-to-trucks {
        text-align: center;
        font-size: 1.3rem;
        margin: 40% auto;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            border-radius: 10%;
            background-color: lightseagreen;
            padding: 10px;
        }
    }

}