/* tablette portrait */

@media (min-width: 481px) and (max-width: 768px) {

  
    .truck-btn-return-to-category-truck {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 10% auto 10%;
    }

    .h1-truck-detail {
        text-align: center;
        font-size: 1.6rem;
        margin: 5% auto 5%;
        padding : 5%;
        color : green;
        background-color: powderblue;
        text-transform: uppercase;
        font-weight: 700;
    }

    .edito-truck {
        padding: 20px;
        margin-bottom: 2%;
    }

    .edito-truck p {
        text-align: justify;
    }

    .h2-truck-detail {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 7% auto 5%;
    }


    .truck-detail-page {
        display: flex;
        flex-direction: column;
    }

    .truck-image-box {
        height: 0%;
    }

    .truck-image {
        display: flex;
        width: 80%;
        padding: 1%;
        height: 450px;
        margin: 0 auto;
        border: solid 30px aquamarine;
    }

    .truck-detail-block {
        padding: 2px;
    }

    .truck-detail-features p,  .truck-detail-location p {
        font-size: 1.1rem;
        margin-left: 10px;
    }





    /* calendar */


    .vehicle-picker-truck {
        display: flex;
        flex-direction: column;
    }

    .date-picker-truck {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }


    .date-picker-start-truck {
        display: flex;
        flex-direction: row;
    }

    .date-picker-start-legend-truck,
    .date-picker-end-legend-truck {
        display: flex;
        margin: 10px 0 15px 15px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 25%;
    }

    .custom-date-picker-start-truck,
    .custom-date-picker-end-truck {
        display: flex;
        flex-direction: column;
    }

    .date-picker-end-truck {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }

    .selected-dates {
        margin-top: 120%;
    }

    /* button*/

    .truck-detail-button-to-reservation-btn {
        width: max-content;
        background-color: green;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 5% 5%;
    }
}


/********************************** version mobile ********************/

@media (max-width: 480px) {


    .truck-btn-return-to-category-truck {
        display: flex;
        text-align: center;
        color: white;
        background-color: gray;
        text-decoration: none;
        padding: 10px;
        width: max-content;
        margin: 10% auto 10%;
    }

    .h1-truck-detail {
        text-align: center;
        font-size: 1.5rem;
        margin: 5% auto 5%;
        padding : 5%;
        color : green;
        background-color: powderblue;
        text-transform: uppercase;
        font-weight: 700;
    }

    .edito-truck {
        padding: 10px;
    }

    .edito-truck p {
        text-align: justify;
    }

    .h2-truck-detail {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 7% 0 5% 5%;
    }
   
    .truck-detail-page {
        display: flex;
        flex-direction: column;
    }

    .truck-image-box {
        height: 0%;
    }

    .truck-image {
        display: flex;
        width: 90%;
        padding: 1%;
        margin: 0 auto;
        border: solid 30px aquamarine;
    }
    
    .truck-detail-block {
        border: solid 2px powderblue;
        padding: 2px;
    }

    .truck-detail-features p,  .truck-detail-location p {
        font-size: 1.1rem;
        margin-left: 10px;
    }


    /* calendar */


    .vehicle-picker-truck {
        display: flex;
        flex-direction: column;
    }

    .date-picker-truck {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .date-picker-start-truck {
        display: flex;
        flex-direction: row;
    }

    .date-picker-start-legend-truck,
    .date-picker-end-legend-truck {
        display: flex;
        margin: 0 0 15px 15px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80px;
    }

    .custom-date-picker-start-truck,
    .custom-date-picker-end-truck {
        display: flex;
        flex-direction: column;
    }

    .date-picker-end-truck {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }

    .selected-dates {
        margin-top: 120%;
    }

    /* button*/

    .truck-detail-button-to-reservation-btn {
        width: max-content;
        background-color: green;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 5% 5%;
    }
}