/***************** version desktop *******************/

@media (min-width: 1025px) {

    /***************************** page trucks-detail **********************************/


    .h1-truck-detail {
        text-align: center;
        font-size: 3rem;
        margin-top: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .truck-detail-page {
        display: flex;
        flex-direction: row;
    }

    .adBlock {
        /* truck detail block */
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 5%;
    }

    .editoTruck {
        margin: 5% auto;

    }

    .truck-image-box {
        width: 50%;
        display: flex;
    }

    .truck-image {
        width: 100%;
        max-width: none;
        height: 600px;
        padding: 1%;
        border-radius: 50px;
    }

    .adBlockDetail {
        display: flex;
        flex-direction: row;
        margin: 5%;

        h2 {
            margin-bottom: 10%;
            font-weight: 600;
        }

        .adBlockFeatures {
            display: flex;
            flex-direction: column;
        }


        .adBlockLocation {
            display: flex;
            flex-direction: column;
            margin-left: 10%;
        }

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.3rem;
        }
    }

    .truck-detail-button {
        width: 50%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: 10%;

        a {
            text-decoration: none;
            color: white;
        }
    }





    /* calendar */

    .date-picker {
        display: flex;
        flex-direction: column;
        margin-top: 220px;
    }


    .date-picker-start {
        display: flex;
        flex-direction: row;
        border: solid 1px black;
    }

    .date-picker-start-legend,
    .date-picker-end-legend {
        display: flex;
        margin-right: 25px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .custom-date-picker-start,
    .custom-date-picker-end {
        display: flex;
        flex-direction: column;
        padding-left: 40px;

    }

    .date-picker-end {
        display: flex;
        flex-direction: row;
        border: solid 1px black;
        margin-top: 120%;
    }


    .selected-dates {
        margin-top: 120%;
    }

}




@media (min-width: 769px) and (max-width: 1024px) {


    .container-tractor-trucks {
        width: 100%;
    }

    .truck-category-list {
        margin-top: 20px;
    }

    .truck-category-item {
        display: flex;
        flex-direction: row;
        border: 1px solid red;
        margin-bottom: 5%;
        width: 100%;
    }

    .truck-category-name {
        font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
        font-size: 35px;
    }

    .truck-category-image-box {
        width: 50%;

    }

    .truck-category-image {
        width: 90%;
        padding: 1%;
        height: 350px;
    }

    .truck-category-image-caption {
        width: 75%;
        background-color: lightseagreen;
        text-align: center;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: auto;

        a {
            text-decoration: none;
            color: white;
            display: block;
            width: 100%;
        }
    }

}